
@{
    ViewBag.Title = "Ofertas";
}
<h2>Nuestras Ofertas</h2>
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row">

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/View-Products/Productos/Televisores (4).png" alt="Televisores4" width="200" height="200">
                <h3 style="text-align:center; font-size:30px">TV LG 55" Pulgadas 139 cm OLED55A2PSA 4K-UHD OLED Plano Smart TV</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$5.699.900 <p style="color:green; text-align:center; font-size:23px">Ahora:$4.199.900</p></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/View-Products/Productos/Audifonos (2).png" alt="Audifonos2" width="200" height="200">
                <h3 style="text-align:center; font-size:30px">Audífonos de Diadema SONY Inalámbricos Bluetooth Cancelación de Ruido Gris</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$1.799.900<p style="color:green; text-align:center; font-size:23px">Ahora:$1.099.900</p></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/View-Products/Productos/Audifonos (3).png" alt="Audifonos3" width="200" height="200">
                <h3 style="text-align:center; font-size:30px">Audífonos APPLE AirPods Tercera Generación Blancos Cancelacion de Ruido</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$899.000<p style="color:green; text-align:center; font-size:23px">Ahora:$849.000</p></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/View-Products/Productos/Televisores (1).png" alt="Televisores1" width="200" height="200">
                <h3 style="text-align:center; font-size:30px">TV SAMSUNG 55" Pulgadas 139.7 cm QN55Q80BA 4K-UHD QLED Plano Smart TV</h3>
                <p style="text-align:center; font-size:18px; color:red">$5.799.900<p style="color:green; text-align:center; font-size:23px">$3.599.900</p></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/View-Products/Productos/Camara (2).png" alt="Camara2" width="200" height="200">
                <h3 style="text-align:center; font-size:30px">Cámara Fotográfica semiprofesional CANON EOS RP RF24-105 STM Negro</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$7.999.000<p style="color:green; text-align:center; font-size:23px">Ahora:$5.628.000</p></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/View-Products/Productos/Camara (3).png" alt="Camara3" width="202" height="200">
                <h3 style="text-align:center; font-size:30px">Cámara Instantánea FUJIFILM INSTAX® Mini 11 negro</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$349.900<p style="color:green; text-align:center; font-size:23px">$299.900</p></p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4">
            <div class="thumbnail">
                <p>‎</p>
                <img src="~/Images/View-Products/Productos/Impresora (1).png" alt="Impresora1" width="200" height="200">
                <h3 style="text-align:center; font-size:30px">Impresora HP 519 Smart Tank- Blanco-Rojo</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$999.000<p style="color:green; text-align:center; font-size:23px">Ahora:$849.000</p></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/View-Products/Productos/Impresora (3).png" alt="Impresora3" width="200" height="200">
                <h3 style="text-align:center; font-size:30px">Multifuncional EPSON Ecotank L3210 Hg - Negro</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$789.0000<p style="color:green; text-align:center; font-size:23px">Ahora:$779.000</p></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/View-Products/Productos/Monitores (2).png" alt="Monitores2" width="200" height="200">
                <h3 style="text-align:center; font-size:30px">Monitor ACER Gamer 23.8" Pulgadas FHD QG241Y BII Negro</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$$999.000<p style="color:green; text-align:center; font-size:23px">Ahora:$649.000</p></p>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/View-Products/Productos/Monitores (3).png" alt="Monitores3" width="200" height="200">
                <h3 style="text-align:center; font-size:30px">Monitor HP Gamer 21.5" Pulgadas M22f Negro</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$909.900<p style="color:green; text-align:center; font-size:23px">Ahora:$679.000</p></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <p>‎‎</p>
                <img src="~/Images/View-Products/Productos/Servidores (1).png" alt="Servidores1" width="275" height="200">
                <h3 style="text-align:center; font-size:30px">Servidor Hpe Proliant Dl380 Gen10 6126 32gb 875763-s01</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$26.228.458 <p style="color:green; text-align:center; font-size:23px">Ahora:$23.482.228</p></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="~/Images/View-Products/Productos/Servidores (3).png" alt="Servidores3" width="89" height="200">
                <h3 style="text-align:center; font-size:30px">Servidor Dell Power Edge T40 Intel X 3.5 Ram 8gb Disco 1tb</h3>
                <p style="text-align:center; font-size:18px; color:red">Antes:$6.525.999<p style="color:green; text-align:center; font-size:23px">Ahora:$4.540.000</p></p>
            </div>
        </div>
    </div>
</body>
</html>
