
@{
    ViewBag.Title = "Servidores";
}

<h2>Productos > Servidores</h2>

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!--carrusel-->
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->

            <div class="carousel-inner">
                <div class="item active">
                    <p style="text-align:center"><img src="~/Images/View-Products/Productos/Servidores (2).png" alt="Servidores2" width="293" height="500"></p>
                    <div class="carousel-caption">
                        <h3 style="color:black">Servidor Dell T140 Ram 16gb Disco 1tb Intel Xeon E-2226g</h3>
                        <p style="color:black"> </p>
                    </div>
                </div>

                <div class="item">
                    <p style="text-align:center"><img src="~/Images/View-Products/Productos/Servidores (4).png" alt="Servidores4" width="500" height="500"></p>
                    <div class="carousel-caption">
                        <h3 style="color:black">Servidor Hpe Proliant Dl360 Gen10 3106 16gb 867961-b21</h3>
                        <p style="color:black"> </p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
            <hr />
        </div>
    </div>



    <!--Productos-->
    <div class="container">
        <div class="jumbotron">
            <div class="row">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <p>‎‎</p>
                        <img src="~/Images/View-Products/Productos/Servidores (1).png" alt="Servidores1" width="275" height="200">
                        <h3 style="text-align:center; font-size:30px">Servidor Hpe Proliant Dl380 Gen10 6126 32gb 875763-s01</h3>
                        <p style="text-align:center; font-size:18px; color:red">Antes:$26.228.458 <p style="color:green; text-align:center; font-size:23px">Ahora:$23.482.228</p></p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Images/View-Products/Productos/Servidores (2).png" alt="Servidores2" width="105" height="200">
                        <h3 style="text-align:center; font-size:30px">Servidor Dell T140 Ram 16gb Disco 1tb Intel Xeon E-2226g</h3>
                        <p style="text-align:center; font-size:18px; color:red">‎<p style="color:black; text-align:center; font-size:23px">$6.099.000</p></p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Images/View-Products/Productos/Servidores (3).png" alt="Servidores3" width="99" height="200">
                        <h3 style="text-align:center; font-size:30px">Servidor Dell Power Edge T40 Intel X 3.5 Ram 8gb Disco 1tb</h3>
                        <p style="text-align:center; font-size:18px; color:red">Antes:$6.525.999<p style="color:green; text-align:center; font-size:23px">Ahora:$4.540.000</p></p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Images/View-Products/Productos/Servidores (4).png" alt="Servidores4" width="275" height="200">
                        <h3 style="text-align:center; font-size:30px">Servidor Hpe Proliant Dl360 Gen10 3106 16gb 867961-b21</h3>
                        <p style="text-align:center; font-size:18px; color:red">‎ <p style="color:black; text-align:center; font-size:23px">$17.476.270</p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>