
@{
    ViewBag.Title = "Televisores";
}

<h2>Productos > Televisores</h2>

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!--carrusel-->
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->

            <div class="carousel-inner">
                <div class="item active">
                    <p style="text-align:center"><img src="~/Images/View-Products/Productos/Televisores (2).png" alt="Televisores2" width="500" height="500"></p>
                    <div class="carousel-caption">
                        <h3 style="color:black">TV LG 55" Pulgadas 139 cm 55NANO80 4K-UHD NanoCell Plano Smart TV</h3>
                        <p style="color:black"> </p>
                    </div>
                </div>

                <div class="item">
                    <p style="text-align:center"><img src="~/Images/View-Products/Productos/Televisores (4).png" alt="Televisores4" width="500" height="500"></p>
                    <div class="carousel-caption">
                        <h3 style="color:black">TV LG 55" Pulgadas 139 cm OLED55A2PSA 4K-UHD OLED Plano Smart TV</h3>
                        <p style="color:black"> </p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
            <hr />
        </div>
    </div>



    <!--Productos-->
    <div class="container">
        <div class="jumbotron">
            <div class="row">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Images/View-Products/Productos/Televisores (1).png" alt="Televisores1" width="200" height="200">
                        <h3 style="text-align:center; font-size:30px">TV SAMSUNG 55" Pulgadas 139.7 cm QN55Q80BA 4K-UHD QLED Plano Smart TV</h3>
                        <p style="text-align:center; font-size:18px; color:red">$5.799.900<p style="color:green; text-align:center; font-size:23px">$3.599.900</p></p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Images/View-Products/Productos/Televisores (2).png" alt="Televisores2" width="200" height="200">
                        <h3 style="text-align:center; font-size:30px">TV LG 55" Pulgadas 139 cm 55NANO80 4K-UHD NanoCell Plano Smart TV</h3>
                        <p style="text-align:center; font-size:18px; color:red">‎ <p style="color:black; text-align:center; font-size:23px">$2.799.900</p></p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Images/View-Products/Productos/Televisores (3).png" alt="Televisores3" width="200" height="200">
                        <h3 style="text-align:center; font-size:30px">TV LG 55" Pulgadas 139 cm 4K-UHD NanoCell Plano Smart TV</h3>
                        <p style="text-align:center; font-size:18px; color:red">‎<p style="color:black; text-align:center; font-size:23px">3.699.900</p></p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="~/Images/View-Products/Productos/Televisores (4).png" alt="Televisores4" width="200" height="200">
                        <h3 style="text-align:center; font-size:30px">TV LG 55" Pulgadas 139 cm OLED55A2PSA 4K-UHD OLED Plano Smart TV</h3>
                        <p style="text-align:center; font-size:18px; color:red">Antes:$5.699.900 <p style="color:green; text-align:center; font-size:23px">Ahora:$4.199.900</p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

